# Ignore python cache
__pycache__/
**/__pycache__/

# Ignore virtual environment
venv/

# Ignore environment variables
.env.local

# Ignore sensitive email credentials file
config

# Ignore credentials.json
credentials.json

# Ignore token.json
token.json